# Make moving around directories easier
alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../.."
alias ~="cd ~"

# Make some shell commands do what I want them to by default
alias sudo="sudo -E"                  # sudo no longer puts you in /root or wherever it is
alias fuck='sudo "$(history -p !!)"'  # fuck = sudo !!
alias vi="vim -O"                     # If I put more than one file name in open them SxS
alias ifconfig="/sbin/ifconfig"       # Silly ifconfig
alias res="cd ~ && . .bashrc && cd -" # Re-source .bashrc, which re-sources everything else
alias rm="rm -v"                      # I like knowing things
alias rf="rm -rf"                     # Remove folder
alias cls="clear"                     # Saves 2 keystrokes
alias rsync="rsync -Phrtuv --exclude '*.DS_Store'" # Saves a lot of keystrokes
alias df="df -h"                      # df, but human-readable
alias du="du -h"                      # du, but human-readable
alias ssh="ssh -o ConnectTimeout=5"   # Don't bother waiting more than 5s when ssh-ing
alias ls="ls -ACFhlp ${Colorflag}"    # ls in a nice ordered coloured list with lots of info

# Useful Pi commands made shorter
alias piconf="sudo raspi-config"    # Lets me configure my Pi
alias pitemp="vcgencmd measure_temp"    # Tells me how hot things are getting
alias pimem="vcgencmd get_mem arm && vcgencmd get_mem gpu"  # Shows the split between CPU and GPU memory

# Other
alias :e="fg"     # I'm horrifyingly used to using :e to get back to editing a document in GHCi

# Quickly jump to Git folders
alias ganwr="cd ~/Git/ANWR"
alias gdisco="cd ~/Git/Discovery"
alias geld="cd ~/Git/Eldorado"
alias gtime="cd ~/Git/Time"
alias gdiss="cd ~/Git/Dissertation"

# Backing up and restoring music from my server
alias backupmusic="rsync --delete ~/Music/ illiac:~/Music/ --exclude '*iTunes*'"
alias returnmusic="rsync --delete illiac:~/Music/ ~/Music/"

# Setting things on a conditional basis
if uname | grep -q Darwin; then             # Macs and Linux work differently sometimes
    Colorflag="-G"                          # On macOS, this makes ls coloured
    export LSCOLORS='exfxcxdxbxegedabagacad'    # And this is what defines the ls colours
    alias updates="sudo softwareupdate -i -a; brew update; brew upgrade; brew prune; brew cleanup; brew doctor; cabal update"   # This updates macOS systems
else                                        # Whereas...
    Colorflag="--color=always"                     # On Linux, this makes ls coloured
    export LS_COLORS='di=34:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43'  # And this defines the ls colours
    alias updates="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"  # This updates Debian systems
fi

if command -v htop >/dev/null; then         # If htop's installed, alias top to it
    alias top="htop"
fi
