# Setting things on a conditional basis
if uname | grep -q "Darwin"; then             # Macs and Linux work differently sometimes
    Colorflag="-G"                          # On macOS, this makes ls coloured
    export LSCOLORS='exfxcxdxbxegedabagacad'    # And this is what defines the ls colours
    alias updates="sudo softwareupdate -i -a; brew update; brew upgrade; brew prune; brew cleanup; brew doctor; cabal update"   # This updates macOS systems
else                                        # Whereas...
    Colorflag="--color=always"                     # On Linux, this makes ls coloured
    export LS_COLORS='di=34:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43'  # And this defines the ls colours
    alias updates="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"  # This updates Debian systems
fi

# Make moving around directories easier
alias ..="cd .."
alias 3.="cd ../../"
alias 4.="cd ../../../"
alias 5.="cd ../../../.."
alias 6.="cd ../../../../.."
alias ~="cd ~"

# Make some shell commands do what I want them to by default
alias sudo="sudo -E"                  # sudo no longer puts you in /root or wherever it is
alias vi="vim -O"                     # If I put more than one file name in open them SxS

if [ -f "/sbin/ifconfig" ] ; then
  alias ifconfig="/sbin/ifconfig"       # Silly ifconfig
fi

alias rm="rm -v"                      # I like knowing things
alias rf="rm -rf"                     # Remove folder
alias cls="clear"                     # Saves 2 keystrokes
alias rsync="rsync -Phrtuv --exclude '*.DS_Store'" # Saves a lot of keystrokes
alias df="df -h"                      # df, but human-readable
alias du="du -h"                      # du, but human-readable
alias ssh="ssh -o ConnectTimeout=5"   # Don't bother waiting more than 5s when ssh-ing
alias ls="ls -ACFhlp ${Colorflag}"    # ls in a nice ordered coloured list with lots of info
alias pt="ping 8.8.8.8"               # pt = ping test

# Grep now listing file names and searching recursively
alias g="git"                         # Save me two keystrokes a go
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias themes="cd wp-content/themes/"  # I work with too much Wordpress
alias a="php artisan"                 # Odd bit of laravel work
alias berve="bundle exec jekyll serve"  # I got a jekyll site

# Backing up and restoring music from my server
alias backupmusic="rsync --delete ~/Music/ illiac:~/Music/ --exclude '*iTunes*'"
alias returnmusic="rsync --delete illiac:~/Music/ ~/Music/"

if command -v htop >/dev/null; then         # If htop's installed, alias top to it
    alias top="htop --sort-key PERCENT_CPU"
fi
