# Exporting for days

CURRENT_ENV="$(ps -p $$)"

if [ -e $HOME/.localexports ]; then
  if [[ "$CURRENT_ENV" == *"bash"* ]]; then
    . $HOME/.localexports
  elif [[ "$CURRENT_ENV" == *"zsh"* ]]; then
    source $HOME/.localexports
  fi
fi

export CLICOLOR=1       # Cos colour in Terminal is useful
export EDITOR="vim"     # EMACS HERETICS WILL BURN
export HISTSIZE=16384   # Lots of history
export HISTCONTROL=ignoredups   # Ignore duplicate entries in history
export TERM="xterm-256color"    # Force 256 colours, mostly for vim
export LANG="en_GB.UTF-8"       # These two force British English and UTF-8
export LC_ALL="en_GB.UTF-8"

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
  PATH="$PATH:$HOME/bin"
fi

# Setting PATH for Python 3.6
# The original version is saved in .bash_profile.pysave

potentialBins=(
  "$HOME/bin"
  "/Library/Frameworks/Python.framework/Versions/3.6/bin"
  "$HOME/.composer"
  "/usr/local/opt/ruby/bin"
  "$HOME/.gem/ruby/2.7.0/bin"
  "$HOME/gems/bin"
  "$HOME/.symfony"
  "$HOME/.npm-global/bin"
  "/usr/local/texlive/2021/bin/"
  "/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
  "$HOME/.local/bin"
)

for bin in "${potentialBins[@]}"; do
  if [ -e "$bin" ]; then
    PATH="$PATH:$bin"
  fi
done

if [ -e "$HOME/gems" ] ; then
  GEM_HOME="$HOME/gems"
  export GEM_HOME
fi

export PATH

export NVM_DIR="$HOME/.nvm"

# This loads nvm if it exists
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"

# This loads nvm bash_completion if it exists
[ -s "/usr/local/opt/nvm/etc/bash_completion" ] && . "/usr/local/opt/nvm/etc/bash_completion"

if command -v rbenv >/dev/null; then
  eval "$(rbenv init -)"
fi

