# Functions for days

md() {
  mkdir "$1" && cd "$1"
}

function gpp {
  local sourcefile=$1
  local targetfile=$(echo $sourcefile | sed -e 's/cpp/run/')
  g++ -std=c++11 $sourcefile -o $targetfile
}
