# Functions for days

md() {
  mkdir "$1" && cd "$1"
}

function picheck {
  ssh -q -o BatchMode=yes -o ConnectTimeout=5 illiac-local exit
  if [ $? -eq 0 ]; then     # If ILLIAC's available on the local network
    echo "illiac-local"           # Point to it
  else
    echo "illiac"                 # Otherwise, point to it via the internet
  fi
}

function backupmusic {
  target=$(picheck)
  echo "Backing up music to $target"
  rsync -rtuvP --delete ~/Music/Music/ $target:~/Music/
}

function returnmusic {
  target=$(picheck)
  echo "Returning music from $target"
  rsync -rtuvP $target:~/Music/ ~/Music/
}

#function backuptv {
#  target=$(picheck)
#  echo "Backing up TV shows to $target"
#  rsync -rtuvP "$TVSHOWS" $target:~/Videos
#}
#
#function backupmovies {
#  target=$(picheck)
#  echo "Backing up movies to $target"
#  rsync -rtuvP "$MOVIES" $target:~/Videos
#}

function gpp {
  local sourcefile=$1
  local targetfile=$(echo $sourcefile | sed -e 's/cpp/run/')
  g++ -std=c++11 $sourcefile -o $targetfile
}
