[user]
  mail = jackellis1504@gmail.com
	name = Jack Ellis
	email = jackellis1504@gmail.com
[color]
  ui = auto
[alias]
  a = add .
  com = commit
  comm = commit -m
  coa = commit -a -m
  df = diff
  master = checkout master
  st = status
  br = branch
  ch = checkout
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
	autocrlf = input
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[branch]
	autosetuprebase = never
