[user]
	email = jackellis1504@gmail.com
	name = Jack
[color]
  ui = auto
[alias]
  com = commit
  comm = commit -m
  df = diff
  master = checkout master
  st = status
  br = branch
  ch = checkout
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
[branch]
  autosetuprebase = always
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
