[user]
  mail = jackellis1504@gmail.com
	name = Jack Ellis
	email = jackellis1504@gmail.com
[color]
  ui = auto
[alias]
  a = add .
  com = commit
  comm = commit -m
  coa = commit -a -m
  df = diff
  master = checkout master
  main = checkout main
  st = status
  br = branch
  ch = checkout
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  ignorecase=false
[branch]
  autosetuprebase = never
[pull]
	rebase = false
