*.DS_Store
*.pdf
*.jpg
*.png
*.tif
*.tiff
*.fseventd
*.Spotlight-V100
*.Trashes
*.run
*.log
*.toc
*.aux
*.doc
*.docx
*.zip
*.out
*.rtf
*.metadata
*.recommenders
/SWM/DiamondHunter2/nbproject/private/
