*.DS_Store
*.fseventd
*.Spotlight-V100
*.Trashes
*.run
*.log
*.toc
*.aux
*.doc
*.docx
*.zip
*.out
*.rtf
*.metadata
*.recommenders
/SWM/DiamondHunter2/nbproject/private/
*.o
*.hi
*.tgz
*.ova
*.vdi
*viminfo*
