# Allow UTF-8 input and output
set convert-meta off
set input-meta on
set output-meta on

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# When hitting Tab on ~ expand it to show the full path
set expand-tilde on

# List all matches if multiple completions are possible
set show-all-if-ambiguous on

# Show extra file info when completing
set visible-stats on

# Add a trailing slash when autocompleting directory symlinks
set mark-symlinked-directories on

# No bell
set bell-style none

# mappings for making up and down arrow searching through history:
#"\e[A": history-search-backward
#"\e[B": history-search-forward
#"\e[C": forward-char
#"\e[D": backward-char

#Use [Tab] and [Shift]+[Tab] to cycle through all the possible completions:
#"\t": menu-complete
#"\e[Z": menu-complete-backward
